.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to bottom, #4facfe, #00f2fe);
    font-family: 'Arial', sans-serif;
  }
  
  .form-container {
    background: rgba(255, 255, 255, 0.9); /* Fondo semi-transparente */
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
    padding: 40px;
    width: 100%;
    max-width: 400px;
    text-align: center;
    position: relative;
  }
  
  h2 {
    font-size: 24px;
    color: #007BFF;
    margin-bottom: 20px;
  }
  
  h3 {
    color: #333;
    margin-bottom: 20px;
  }
  
  input {
    width: calc(100% - 20px);
    padding: 12px;
    margin: 10px 0;
    border: 2px solid transparent;
    border-radius: 10px;
    font-size: 14px;
    box-sizing: border-box;
    transition: all 0.3s ease;
  }
  
  input:focus {
    border-color: #007BFF;
    outline: none;
    box-shadow: 0 0 10px rgba(0, 123, 255, 0.5);
  }
  
  button {
    background: linear-gradient(to right, #007BFF, #00f2fe);
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    padding: 12px 20px;
    margin-top: 20px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
    transition: all 0.3s ease;
  }
  
  button:hover {
    background: linear-gradient(to right, #0056b3, #007BFF);
    transform: translateY(-3px);
    box-shadow: 0 4px 15px rgba(0, 123, 255, 0.5);
  }
  
  .google-login {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ffffff;
    border: 1px solid #ccc;
    color: #333;
    font-size: 16px;
    font-weight: bold;
    padding: 12px;
    border-radius: 10px;
    margin-top: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .google-login i {
    margin-right: 10px;
    font-size: 20px;
    color: #4285f4;
  }
  
  .google-login:hover {
    background: #f7f7f7;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  }
  